
.bodyhai{
    width: 100%;
    height: 80vh;
    background: linear-gradient(45deg, #008cfe, #b700fa);
    display: grid;
    justify-content: center;
}
.heading{
    color: #fff;
    font-weight: lighter;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    position: relative;
    font-family: 'Cairo', sans-serif;
}
.heading::before{
    content: '';
    position: absolute;
    width: 10%;
    height: 3px;
    background: #fff;
    top: 90px;
    left: 45%;
}
.profile-main-div{
    display: flex;
    align-items: end;
    justify-content: center !important;
    /* border: 6px solid green; */
    /* margin-right: 30px; */
    padding: 0 30px;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
}
.profile{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 50%;
    background: #fff;
    display: grid;
    justify-content: center;
    align-content: center;
    transition: 0.5s;
    /* border: 3px solid rgb(34, 255, 0); */
}
.pro_img{
    width: 280px;
    height: 280px;
    position: relative;
    border: 5px solid #fff;
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0.5s;
    z-index: 1;
}
.dtl{
    position: absolute;
    width: 100%;
    top: 25%;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.name{
    font-family: arial;
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    color: #525151;
}
.bio{
    font-family: arial;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #008cfe;
}
.social{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bi{
    width: 40px;
    height: 40px;
    padding: 10px;
    transition: 0.3s;
    /* border: 1px solid green; */
    cursor: pointer;
    margin-top: 20px;
}
.bi:hover{
    transform: translateY(-5px);
}
.twiter:hover{
    color: #009ef9;
}
.linkdin:hover{
    color: rgb(0, 51, 255);
}
.insta:hover{
    color: #ff009d;
}



.profile:hover{
    border-radius: 17px;
    width: 380px;
    /* border: 3px solid red; */
    height: 380px;
}
.profile:hover .pro_img{
    border-radius: 17px;
    margin-top: -230px;
}
.profile:hover .dtl{
    top: 50%;
}

@media (max-width: 768px) {
    .bodyhai{
        width: 100%;
        height: 80vh;
        background: linear-gradient(45deg, #008cfe, #b700fa);
        display: grid;
        justify-content: center;
    }
    .wrapper{
        width: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        align-items: end;
        /* border: 5px solid red; */
    }
    .profile-main-div{
        width: 440px;
        height: 400px;
        display: flex;
        align-items: end;
        justify-content: center !important;
        /* border: 6px solid green; */
        margin-right: 70px;
        padding: 0 30px;
    }
    .profile{
        width: 330px;
        height: 330px;
        position: relative;
        border-radius: 50%;
        background: #fff;
        display: grid;
        justify-content: center;
        align-content: center;
        transition: 0.5s;
        /* border: 6px solid rgb(77, 255, 0); */
    }
    .pro_img{
        width: 300px;
        height: 300px;
        position: relative;
        border: 5px solid #fff;
        border-radius: 50%;
        transition: 0.5s;
        transition-delay: 0.5s;
        z-index: 1;
    }
    .profile:hover{
        border-radius: 17px;
        width: 330px;
        /* border: 3px solid red; */
        height: 380px;
    }
}

@media (min-width: 769px) and (max-width: 900px) {
    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
        align-items: center;
        overflow-x: auto;
    }
}