
  
  :root{
    --mainColor: #29335C;
    --mainColorLight: #5767aa;
    --secondaryColor: #DB2B39;
    --textColor:#eee;
   
  }


  header ul {
    display: flex;
    margin-top: 52px;
    

  }

  header{
    position: relative;
  }



  #submenu{
    
    opacity: 0;
    position: absolute;
    
    visibility: hidden;
    z-index: 1;
   
    
  }

  li:hover ul#submenu{
    opacity: 1;
    top:20px ;
    display: flex;
    flex-direction: column;
    visibility: visible;
    background-color: rgb(30, 22, 22);
    width: auto;
    height: 115px;
    border: 1px solid white;
    border-radius: 9px;
   
    position: relative;

  }



  #submenu li{
    float: none;
    width: 140% ;
    margin-top: 12px;
    /* display: block; */
    
  }


  #submenu a:hover{
    color: white;
    border-bottom: 1px solid white;
    margin-left: 34px;
    
   
  }

  #submenu a{
    background-color: rgb(30, 22, 22);

  }


  header ul li{
    list-style-type: none;
    
  }


  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: rgb(30, 22, 22);
    color: var(--textColor);
    width: 100%;
  
    
  
  }
  
  header img{
    width: 45px;
    height: 40px;
    border-radius: 4px;
    margin-top: 7px;
    /* mix-blend-mode: darken; */
  }
  
  nav ul li a{
    margin: 0 2rem;
   color: white;
    text-decoration: none;
    
  
  }


  nav ul li a:hover{
    color: rgb(232, 144, 21);
    
  }
  

  
  header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem ;
  }
  
  

  @media only screen and (max-width:1024px){
    header .nav-btn{
      visibility: visible;
      opacity: 1;
      
  
    }


  
    #submenu a{
        background-color: #29335C;
        color: rgb(232, 144, 21);
        font-weight: 700;
        
        
      }


      nav ul li{
        margin-top: 30px;
      }

    li:hover ul#submenu{
        opacity: 1;
        top:-10px ;
        display: flex;
        flex-direction: column;
        visibility: visible;
        background-color: #29335C;
        width: auto;
        height: 130px;
        margin-bottom: 1px;
        
        /* border: 1px solid white; */
        border: none;
        border-radius: 9px;
        position: relative;
        
      }
 

      #submenu{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      


    

    header ul {
        display: flex;
        
        flex-direction: column;
       
       
        
      }

 
    header{
       width: 100% !important;
      
        
        
    }
  
  
    header nav{
    position: fixed;
  
    top: 0;
    left: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
   
   
    background-color: black;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
    overflow: hidden;
    height:105vh;
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
  
    justify-content: center;
    
    gap: 1.5rem;
    background-color: var(--mainColor);
    
   
    transition: 1s;
    transform: translateY(-105vh);
    }
  
    header .responsive_nav{
      transform: none;
     
      
    }
  
  
    nav .nav-close-btn{
      position: absolute;
      top: 2rem;
      right: 2rem;
      
      
    }
  
    nav ul li a{
      font-size: 1.5rem;
     
  
    }
  
  
   
    
    
  }